
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #74ABE2, #5563DE);
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  min-height: 100vh;       
  padding: 30px 10px;
  overflow-y: auto;        
}


.main {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 500px;
}


h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 28px;
}


.question {
  margin-bottom: 20px;
}

.question p {
  font-weight: bold;
  margin-bottom: 10px;
  color: #444;
}



ul {
  list-style: none;
}

li {
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 8px;
  transition: 0.3s;
}


#submitBtn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #5563DE;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}


#result {
  margin-top: 20px;
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 10px;
  display: none;
  line-height: 1.6;
}


@media (max-width: 600px) {
  .main {
    padding: 20px;
  }

  h1 {
    font-size: 24px;
  }
}
